SECRET_KEY_PROD_DJANGO=


ALLOWED_HOSTS=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# DB
NAME=
USER=
PASSWORD=
HOST=
PORT=

# reCAPTCHA настройки
RECAPTCHA_PUBLIC_KEY_LOCAL=
RECAPTCHA_PRIVATE_KEY_LOCAL=
# Опционально: настройка языка ('ru','en')
RECAPTCHA_LANGUAGE=